__pycache__/
*.pyc
.DS_Store
out
website/
docs-minimind/

# Virtual Environment
.venv/
venv/
env/

# Mac / Local Scripts
*.command

# Downloaded Models & Checkpoints
scripts/minimind-3/
checkpoints/
*.pth
*.safetensors